h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

#check {
    background: skyblue;
    padding: 10%;
}

.weather-now {
    background: whitesmoke;
    align-items: center;
    box-shadow: 0 2px 4px 0 #f7f996, 0 2px 4px 0 #f7f996;
}

.toggler {
    animation: moveToSide 1s;
    animation-fill-mode: both;
}
/* Moves the card to the left side */
@keyframes moveToSide {
    from {
        margin-left: 40%;
    }
    to {
        margin-left: 20px;
      }
    }

.the-form {
    background: whitesmoke;
    text-align: center;
}

.the-submit {
    position: relative;
    left: 50px;
    border: 2px solid #000000;
}

.called-weather {
    position: absolute;
    top: 250px;
    display: none;
    margin-left: 80%;
    text-align: center;
    box-shadow: 0 2px 4px 0 #f7f996, 0 2px 4px 0 #f7f996;
    animation: moveNextTo 1s;
    animation-fill-mode: both;
}
/* Moves the called weather card to the left */
@keyframes moveNextTo {
    from {
        margin-left: 80%;
    }
    to {
        margin-left: 250px;
      }
    }

/* #theCheck :hover {
    box-shadow: 0 2px 4px 0 #96f4f9, 0 2px 4px 0 #96c9f9;
} */