h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

img {
    display: flex;
    margin: 0 auto;
}

body {
    color: #0B3954;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background: #F5EFFF;
}

.the-form {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

a {
    background: transparent;
    margin-left: 5px;
    font-weight: bold;
    text-decoration: none;
    color: #0B3954;
}

.next p {
    font-weight: bold;
}